
/*Big tablet to 1200px (width smaller than the 1140px row)  */
@media only screen and (max-width:1200px){
    .hero-text-box
    {
     width:100%;
     margin-right:2%;
     margin-left: 2%;
   }
    
    .row{padding:0 2%; }
    
   
}

/*Small tab to big tab:from 768px to 1023px*/
@media only screen and (max-width:1024px){
    
    
    body{font-size:26px;}
    section{padding:10px 0px}
    .section-meals{padding: 0px;}
    
    .hero-text-box
    {
     width:70%;
    text-align: justify;
    }
    
    
    
    .logo{
    height: 80px;
    width: auto;
    float: left;
    margin-top: 25px;
    }
    
    h2{
    font-size: 170%;
    
}
    /*-----------------------------------------------------*/
    .long-copy{
    width: 80%;
    margin-left:10%;
    }
    
    .hero-text-box{
        margin-top: 35px;
    }

    .steps-box:first-child{margin-top: 0px;}
    .steps-box:last-child{margin-top:0px; }
    .work-step{margin:25px auto 43px 20px;}
    .work-step:last-of-type{margin-top: 70px; }
    
    .app-screen{ width:55%;}
    
    .work-step div{
    width: 28px;
    height: 28px;
    display: inline-block;
    float: left;
    padding:2px auto;
    font-size: 140%;
    text-align: center;
    margin-right: 18px;
    margin-left:10px;
    
    }
    
     .download img{
     display:inline-block;
     height: 45px;
     width: auto;
     margin-left: 8px
   }
    
/*---------------------------------------------------*/
    .icon-small{width:17px;
    margin-right: 5px;}
    .cities-feature:{font-size: 90%;}
/*---------------------------------------------------*/
    
    .plan-box{
        margin: 0px auto;
        width: 97%;
      
          }
    
    .plan-box:first-child{
        margin-left: 8p9;
    }
    
    .plan-price{
    font-size: 250%;
    }
        
/*---------------------------------------------------*/
    .section-testimonials p{
        font-size: 98%;
        
    }
/*---------------------------------------------------*/
        .contact-form {
            width:80%; 
           }   
/*----------------------------------------------------*/
    footer{ padding: 15px 20px 30px 20px; }
    
.footer-nav li,
.social-links li{ margin-right: 10px;}
    
 /*----------------------------------------------------*/
}
    
    
/*Small phones to small  tabs:from 481px to 1023px*/
@media only screen and (max-width:767px){
  
   
  
    body{ font-size: 16px;}
    section{padding: 30px 0px;}
    .section-meals{padding: 0px;}
   
 
    h1{font-size: 180%;}
    h2{font-size: 150%;}
    
 /*---------------------------------------------------*/    
     .hero-text-box{
        padding: 4% 4%;
        overflow: hidden;
        margin:auto 10px;
         
    }
    
       div.row{
       padding:2px;
       
    }
    
    .row
     {
      padding: 4% 0%;
      margin:auto 10px;
    }
    
    .row-sticky{
        margin: 0px auto;
    }
    .col
    {
    width: 100%;
    margin 0 0 4% 0;
    }
 /*---------------------------------------------------*/   
    .main-nav{ display: none;} 
    
    .logo{
        float: left;
        margin-top: 15px;
        margin-bottom:25px;      
    }
    
    
    .mobile-nav-icon{
        display:inline-block;
        margin-top: 5px;
        }
    
  
    
   .sticky .mobile-nav-icon i{
       margin-top: 20px;
        color: #555;
       margin-right:25px;
         
    }
    
    .main-nav{
        float: left;
        margin-top: 15px;
        margin-bottom:25px;
        margin-left: 25px;
    }
    
    .main-nav li{display: block;}
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 100%;
        padding:1px 0px;
    }
    
.main-nav li a:hover,
.main-nav li a:active{
    margin-bottom: 0px;
    border-bottom: 0px solid #cf6d17;
    margin-bottom: 10px;
     }
    
.sticky .main-nav li a:link,    
.sticky .main-nav li a:visited{
    padding:5px 0px;
    margin: 0px;
    margin-left: 25px;
}
    
    .sticky .main-nav li a:hover,
    .sticky .main-nav li a:active{
    margin-bottom: 0px;
    border-bottom: 0px solid #cf6d17;
    }
    
    .sticky .main-nav{
        padding: 0px 0px;
        margin: 0px 0px;
        
    }
    
 /*---------------------------------------------------*/   
    
    
    .long-copy{
    width: 100%;
    margin-left:2%;
    }
 /*---------------------------------------------------*/
    
    .meals-showcase {
    margin: 0px 0px;
    width: 100%;
    }
/*---------------------------------------------------*/
    .app-screen{ width:45%;}
    
    .work-step div{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 130%;
    text-align: center;     
}
    
    .steps-box:first-child {
    text-align: center;
    margin-top:10px; 
    
}
    
    .work-step{margin-bottom:30px;}
    .work-step:last-of-type{margin-bottom: 20px; }
    
    
/*---------------------------------------------------*/    
 
    
    .box img:first-child{
        padding: 0px;
    }
    
 /*---------------------------------------------------*/
    
    .section-testimonials p:first-child:before{ content:" "; }
    
    .section-testimonials p{
     margin-bottom: 20px;
    line-height: 135%;
    font-size: 102%;
    margin-right: 18px;  
    }
    
/*---------------------------------------------------*/
    .plan-box{ box-shadow: 0px 0px 1px #efefef; }
    
    .plan-box div:first-child{
    padding: 1px 5px;
    border-bottom:1px solid #e8e8e8;  
  }
    
    .plan-box:first-child{ margin-top: 2.5%; }
    .plan-box{ margin-top: 2.5%; }
/*---------------------------------------------------*/  
 
    .contact-form{ width:100%; }
 /*---------------------------------------------------*/   
   
    
    .footer-nav ul
    {
    display: block;
    margin-top: 0px;
    margin-left:5px;
    padding: 0px; 
    }
    
    .social-links ul
    {
    display: block;
    margin-right:10px;
    padding: 0px;  
    }

    footer{ padding: 0px; }
    
 }

@media only screen and (max-width:480px){
   
     
    section{padding:25px 0;}
    .contact-form{ width: 100%; }
}
    